@page "/Concepts"

<h3>Data Access</h3>

<p>Please see my Wiki content on setting up DapperCX:</p>

<ul>
    <li>
        <a href="https://github.com/adamfoneil/BlazorAO/wiki/Solution-Structure" target="_blank">Solution Structure</a> describes my recommended solution architecture.
    </li>
    <li>
        <a href="https://github.com/adamfoneil/BlazorAO/wiki/App-Startup" target="_blank">App Startup</a> shows how to setup your <code>Startup</code> method for DapperCX data access.
    </li>
    <li>
        <a href="https://github.com/adamfoneil/Dapper.CX/wiki/Model-Class-Best-Practices-and-Suggestions" target="_blank">Model Class Best Practices and Suggestions</a>
        outlines my approach to model classes. The model classes in this repo are <a href="https://github.com/adamfoneil/BlazorAO/tree/master/BlazorAO.Models">here</a>
    </li>
    <li>
        <a href="https://github.com/adamfoneil/Dapper.CX/wiki/Using-Dapper.CX-with-Dependency-Injection" target="_blank">Using DapperCX with Dependency Injection</a>
    </li>
</ul>

<p>The <a href="/Grid">Grid Examples</a> topic shows data access in action.</p>

@code {

}
