@inherits LayoutComponentBase
@inject DapperCX<int, UserProfile> Data
@layout BlazorAO.App.Shared.MainLayout

<div class="row">
    <div class="col-2 border-right mt-4">
        <TopicList RootPath="/Concepts">
            <TopicLink Text="Home" Href="/"/>       
            <TopicLink Text="Roles" Href="/Roles"/>
            <TopicLink Text="Stored Procedures"  Href="/Procedures"/>
            <TopicLink Text="Change Tracking" Href="/ChangeTracking"/>
            <TopicLink Text="Permissions" Href="/Permissions"/>
            <TopicLink Text="Multi-Tenant Access" Href="/MultiTenancy"/>
            @if (Data.User.HasRole("Admin"))
            {
                <TopicLink Text="Admin Only" Href="/AdminOnly"/>
            }
        </TopicList>
    </div>
    <div class="col-10">
        @Body
    </div>
</div>
