@inherits LayoutComponentBase
@layout BlazorAO.App.Shared.MainLayout

<div class="row">
    <div class="col-2 border-right mt-4">
        <TopicList RootPath="/Grid">
            <TopicLink Text="Bare Minimum" Href="/BareMinimum"/>
            <TopicLink Text="Cascading Dropdowns" Href="/CascadingDropdowns"/>
            <TopicLink Text="Search" Href="/Search"/>            
            <TopicLink Text="Excel Download" Href="/ExcelDownload"/>
            <TopicLink Text="Multi-Select Dropdowns" Href="/MultiSelect"/>
            <TopicLink Text="Filter from Query String" Href="/QueryString"/>
        </TopicList>
    </div>
    <div class="col-10">
        @Body
    </div>
</div>
