@inherits LayoutComponentBase
@layout BlazorAO.App.Shared.MainLayout

<div class="row">
    <div class="col-2 border-right mt-5">
        <ul>
            <li>Bare Minimum</li>
            <li>Cascading Dropdowns</li>
            <li>Search</li>
            <li>Paging</li>
            <li>Excel Download</li>
            <li>Multi-Select Dropdowns</li>
        </ul>
    </div>
    <div class="col-10">
        @Body
    </div>
</div>
