@inherits LayoutComponentBase
@layout BlazorAO.App.Shared.MainLayout

<div class="row">
    <div class="col-2 border-right mt-4">
        <TopicList RootPath="/Setup">
            <TopicLink Text="Home" Href="/"/>
            <TopicLink Text="Profile" Href="/Profile"/>
            <TopicLink Text="Workspace" Href="/Workspace"/>            
            <TopicLink Text="Users" Href="/Users"/>
        </TopicList>
    </div>
    <div class="col-10">
        @Body
    </div>
</div>
