.nav-item ::deep a {
    color: #07445f;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: #07445f;
    color: white
}

.nav-item ::deep a:hover {
    background-color: #ff6a00;
    color: white;
}