@page "/ProjectWork"

<h3>App Example: Project Work</h3>
<p>This section has a rudimentary work tracking and project accounting system.</p>

<p>It has:</p>
<ul>
    <li>Clients, Projects, and Budgets</li>
    <li>Work Types, Employees, and Invoice Rates</li>
    <li>Time Entry page</li>
    <li>Manager time approval and invoicing</li>
</ul>

<p>It does not have:</p>
<ul>
    <li>Payroll and compensation tracking</li>
    <li>Notifications</li>
</ul>

@code {

}
